name: build

on:
  push:
    branches:
    - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.6
    - name: cache
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Run build
      run: make
    - name: Generate code coverage artifacts
      uses: actions/upload-artifact@v2
      with:
        name: code-coverage
        path: coverage.out
  coverage:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Get code coverage artifact
        uses: actions/download-artifact@v2
        with:
          name: code-coverage
      - name: Upload code coverage information to codecov.io
        uses: codecov/codecov-action@v2
        with:
          files: coverage.out
          verbose: true
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
